# intellij IDE
.idea

# tools
tools/annovar/*
!tools/annovar/.gitkeep

tools/gatk/*
!tools/gatk/.gitkeep

# databases
databases/*
!databases/.gitkeep

# assets/input
assets/input/*
!assets/input/.gitkeep